<!DOCTYPE html>
<html>

<head>
    <title>StudyMate | Find A Study Partner</title>
    <!-- Favicon -->
    <link rel="icon" href="assets/images/favicon.ico">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="container-fluid">
        <%- include('header') -%>
            <section class="mt-55" id="aboutus">
                <hr class="featurette-divider">
                <div class="row featurette">
                    <div class="col-md-2"></div>
                    <div class="col-md-9">
                        <h2 class="featurette-heading">About Us </h2>
                        <p class="lead">We at StudyMate focus to help students connect with their fellow students worldwide and study together. With a simple user interface and a strong recommender system we help students find their study partners based on their interests and preferences. 
                        </p>
                        <p class="lead">Our motto is to make studying interesting and fun to connect, learn, teach, share, support and help each other. </p>
                        <p class="lead">Created by a group of two students who felt a need to have virtual study buddies in this pandemic situation where in person classes and chances of meeting people in real life has reduced drastically and made them feel struck in an island where there is no one with whom they can talk about their studies.</p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <hr class="featurette-divider">
                <div class="row featurette">
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <h2 class="featurette-heading">Your Security is on us!</h2>
                        <p class="lead">With the growing need of online platforms to connect with students, there also arise a lot of other security issues and for students to select an application relevant to their needs. We make sure that the students’ safety is our top priority and not share any of their details with our customers unless they connect with them and share it on their contacts on their own.</p>
                        <p class="lead">We provide options for all sorts of students like college students to connect with each other for their subjects, students taking other exams like GRE, GMAT, IELTS etc can also get connected to study together and from different time zones around the world.</p>

                    </div>
                    <div class="col-md-4">
                        <img src="assets/images/dummy1.jpeg" class="d-block w-100" alt="Image3">
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <hr class="featurette-divider">
                <div class="row featurette">
                    <div class="col-md-2"></div>

                    <div class="col-md-4">
                        <img src="assets/images/dummy2.jpeg" class="d-block w-100" alt="Image3">
                    </div>
                    <div class="col-md-5">
                        <h2 class="featurette-heading">It's just the beginning!</h2>
                        <p class="lead"> We will be improvising our application further with more functionalities like video conferencing with buddies in the future. Feedbacks are welcome! Please drop them in the contact us page!
                        </p>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <!-- </div> -->
            </section>
    </div>
    <%- include('footer') -%>
</body>

</html>