<!DOCTYPE html>
<html>

<head>
    <title>StudyMate | Find A Study Partner</title>
    <!-- Favicon -->
    <link rel="icon" href="assets/images/favicon.ico">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- include('usercommonCSSJS') -%>
</head>

<body>
    <div class="container-fluid">
        <%- include('userheader') -%>
            <section class="mt-55" id="groupsmessages">
                <!-- <div class="container-fluid"> -->
                <hr class="featurette-divider">
                <div class="row featurette">
                    <%- include('grpmsgsidepanel') -%>
                        <div class="col-md-9 messagebody" id="mainpanel">
                            <div class="messagessection col-md-12">
                                <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5 rmsg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-5 lmsg"> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5 rmsg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-5 lmsg"> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5 rmsg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                                </div><div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5 rmsg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5 rmsg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 lmsg"> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5 rmsg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-5 lmsg"> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 lmsg"> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5 rmsg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-5 lmsg"> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5"></div>
                                </div>
                            </div>
                            <div class="messageeditor col-md-12">
                                <div class="row messagesendbody">
                                    <div class="col-md-8">
                                        <textarea class="form-control" id="messagetext" rows="3"></textarea>
                                    </div>
                                    <div class="col-md-2">
                                        <button class=" btn btn-danger btn-sm btn-block" id="attach">Attach Files</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button class=" btn btn-danger btn-sm btn-block" id="sendTextMessage">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </section>

    </div>
    <%- include('userfooter') -%>
</body>

</html>