<section id="navigationMenu">
  <!-- Nav Bar -->
  <!-- <div class="container-fluid"> -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <a class="nav-link" href="/study-mates"><img src="../assets/images/logo.png" class="img-fluid" alt="Logo"></a>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" id="profile" href="/study-mates">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="studybuddy" href="/find-study-buddy">Find-Study-Buddy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="groupsmsg" href="/my-groups-messages">Groups/Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-us" onclick="signOut();">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- </div> -->
</section>
<script>
  var classname = "<%= activeClass %>";
  $("#" + classname).addClass(" active");
</script>